In [ ]:
a=10
b=30
print("this is variable a",a,"i want to print it again ",a)
print("This is variable a {} and this is variable b {}".format(b,a))

In [ ]:
def printing():
    print("Functions are very important")

In [ ]:
printing()

In [ ]:
def sum_values(a,b):
    c=a+b
    return c
    print("hai")

#sum_values(10,20)

In [ ]:
#return values in a function

cnt=2
summ=sum_values(39,78)
#print(summ)
print(summ)
print(summ/cnt)

In [ ]:
def update_num(num):
    print(id(num))
    num=100
    print(id(num))
    
num=90
print(id(num))
update_num(num)
print(id(num))

In [ ]:
def update_lst(lsts):
    print(id(lsts))
    lsts[1]=789
    print(id(lsts))
    
lst1=(12,23,34,78,45)
print(lst1)
print(id(lst1))
update_lst(lst1)
print(id(lst1))

In [ ]:
def sum_marks(*marks):
    sum=0
    for i in marks:
        sum=sum+i
    print("The total marks is",sum)
    
sum_marks(90,89,79,90,98)

In [ ]:
def sum_marks_1(name,subj1,subj2):
    print(name)
    print("mark 1",subj1)
    print("mark 2",subj2)
    
sum_marks_1("priya",subj2=90,subj1=80)

In [ ]:
def sum_marks_2(name,**subj):
    print(name)
    for i,j in subj.items():
        print(i,j)
        
    
sum_marks_2("priya",age=12,mark1=90,mark2=80)

In [ ]:
#string manipulations

str="python works in Object Oriented Approach"

print(str.lower())

print(str.upper())

str1 = str.split(" ")
print(str1)

print(str*5)

print(str.index("in"))

print(str.replace("O","K"))

print(len(str))

print(str.count('O'))
print(str.find('O'))
print(str.rfind('O'))
print(str.capitalize())

print(str.swapcase())

str0="   learning"

print(str0)
print(str0.lstrip())
#print(str0.strip)

print(str0.startsWith(""))

In [ ]:
str2="Python follows OOPS"

print(str2.startswith("L"))

print(str2.endswith("S"))

print("*" *2)

str3=" C++ "

str4="Django"

print(str3.strip()+str4) #+ - concatenation

str5="Hello world"

print("!".join(str5))

#slicing and dicing 

str6="python"

print(str6[0:4])

print(str6[::-1])

print(str6[:])

print(str6.isalnum())

print(str6.isalpha())

print(str6.isdigit())

print(str6.isspace())

In [ ]:
#unpacking the strings

a,b,c,d,e=10,20,30,"hello"
print(d)
print(a+b)
print(e)

In [ ]:
a=10
c=12
c,d=a,a+c
print(d)
print(c)

In [26]:
a=10
c=12
c=a
d=a+c
print(c)
print(d)

10
20

In [42]:
#List sequence operations

list1=["Hadoop","Spark","Python"]
list2=["C","C++","COBOL"]
print(list1+list2)

print(list1*2)

print("Python" in list2)

print(list1[1:])

list_num=[12,34,90]

print(min(list_num))

print(max(list_num))

print(sum(list_num))

print(len(list_num))

print(int(sum(list_num)/len(list_num)))

print(sorted(list_num,reverse=True))

list_str=["hello","world","python"]

print(sorted(list_str))

['Hadoop', 'Spark', 'Python', 'C', 'C++', 'COBOL']
['Hadoop', 'Spark', 'Python', 'Hadoop', 'Spark', 'Python']
False
['Spark', 'Python']
12
90
136
3
45
[90, 34, 12]
['hello', 'python', 'world']

In [49]:
#tuple sequence operations

tup1=([1,2,3],[9,8,7,3,4,7])
#print(tup1)
print(tup1[1][4:])

print(type(tup1))
print(id(tup1))
tup1[0][1]=90

print(id(tup1))
print(tup1)

[4, 7]
<class 'tuple'>
2150402066688
2150402066688
([1, 90, 3], [9, 8, 7, 3, 4, 7])

In [50]:

list1=[(1,2,3),("A","B","C")]
print(list1)

list1[0][1]="Python"
print(list1)

[(1, 2, 3), ('A', 'B', 'C')]

TypeError: 'tuple' object does not support item assignment

In [54]:
tup_names=("Anu","Priya")
tup_marks=(90,89)

print(tup_names+tup_marks)

print(tup_names*2)

print("kiran" in tup_names)

print(tup_names[:1])

('Anu', 'Priya', 90, 89)
('Anu', 'Priya', 'Anu', 'Priya')
False
('Anu',)

In [61]:
#sets 

set1={"anu","kiran","priya"}

set2={12,89,90,"priya"}

print(set1 | set2) #union

print(set1 & set2) #intersection

print(set1 - set2) #difference

print("kiran" in set1)

{'anu', 'priya', 'kiran', 89, 90, 12}
{'priya'}
{'anu', 'kiran'}
True

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [66]:
#dictionary

dict1={10:"anu",12:"priya"}
dict2={10:"anu@gmail.com",12:"priya@gmail.com"}

print(len(dict2))
print(dict2.get(12))
print(dict2[12])
print(dict2.items())
print(dict2.keys())
print(dict2.values())

2
priya@gmail.com
priya@gmail.com
dict_items([(10, 'anu@gmail.com'), (12, 'priya@gmail.com')])
dict_keys([10, 12])
dict_values(['anu@gmail.com', 'priya@gmail.com'])

In [70]:
name="priya"
age=10

print("The name is {} and the age is {}".format(name,age))
print("The name is %s and the age is %d"%(name,age))

The name is priya and the age is 10
The name is priya and the age is 10